<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>testBloomberg</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="testBloomberg.css">
   <script src="../../vendor.bundle.js"></script>
   <script src="testBloomberg.js"></script>
</head>
<body>

<div id="container">
	<div id="bounds"></div>
	<div class="spacer2"></div>

	<h1><img src="../../assets/img/finsembleDarkBG_noText.png" id="finsembleLogo" height="25">
		&nbsp;
		Bloomberg Bridge Tester</h1>
	<div class="spacer3"></div>

	<div id="headings">
		<div class="heading active" id="runCommandHeading" onclick="window.displayCol('runCommand');">
			<h2>Run Command</h2>
		</div>

		<div class="heading" id="createWorksheetHeading" onclick="window.displayCol('createWorksheet');">
			<h2>Create Worksheet</h2>
		</div>
		
		<div class="heading" id="getUserWorksheetsHeading" onclick="window.displayCol('getUserWorksheets');">
			<h2>Get User Worksheets</h2>
		</div>
		
		<div class="heading" id="getSecuritiesFromWorksheetHeading" onclick="window.displayCol('getSecuritiesFromWorksheet');">
			<h2>Get Worksheet</h2>
		</div>
		
		<div class="heading" id="replaceSecuritiesOnWorksheetHeading" onclick="window.displayCol('replaceSecuritiesOnWorksheet');">
			<h2>Replace Worksheet</h2>
		</div>


		<!-- <div class="column" id="col3">
        <h2>Pub/Sub</h2>
      </div> -->
	</div>
	<div id="columns">
		<div class="column" id="runCommandCol">
			<!-- mnemonic -->
			<label class="inputLabel">
				Bloomberg Mnemonic
				<input class="textField" id="mnemonic" value="DES"></input>
			</label>
			<label id="mnemonicError" class="errorLabel hidden">Set a Mnemonic (Bloomberg command)</label>
			
			<!-- panel -->
			<label class="inputLabel">
				Bloomberg Panel
				<select id="panel" name="panel" class="textField">
					<option value=1>1</option>
					<option value=2>2</option>
					<option value=3>3</option>
					<option value=4>4</option>
				</select>
			</label>

			<!-- securityList -->
			<label class="inputLabel">
				Securities
				<ul id="securities"></ul>
			</label>
			<label id="securityError" class="errorLabel hidden">Add at least one security</label>
			<label class="inputLabel">
				Add Security
				<input class="textField" id="securityInput" value=""></input>
			</label>
			<button class="button" id="addSecurityButton" onclick="window.addSecurity('securityInput','securities')">Add security</button>
			
			<!-- tails -->
			<label class="inputLabel">
				Tails (optional)
				<input class="textField" id="tails" value=""></input>
			</label>


			<button class="button" id="runCommandButton" onclick="window.runBBGCommand()">Run command</button>

		</div>

		<div class="column hidden" id="createWorksheetCol">

			<div class="spacer4"></div>
		</div>

		<div class="column hidden" id="getUserWorksheetsCol">

			<div class="spacer4"></div>
		</div>

		<div class="column hidden" id="getSecuritiesFromWorksheetCol">

			<div class="spacer4"></div>
		</div>

		<div class="column hidden" id="replaceSecuritiesOnWorksheet">

			<div class="spacer4"></div>
		</div>

	</div>
	


	

</div>


</body>
</html>

