<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>myYellowFinEmbedComponent3</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="myYellowFinEmbedComponent3.css?{cachebuster}">
    <script src="myYellowFinEmbedComponent3.js?{cachebuster}"></script>
</head>
<body>
    <script type="text/javascript" src="http://localhost:8081/JsAPI?reportUUID=01c73f85-2da8-401c-8e1d-167a0a6b5b5c&amp;width=1000&amp;height=400"></script>
</body>
</html>

