body {
	margin:0px;
}

.hypergrid-container {
    position: relative;
    height: calc(100% - 80px);
    width: 100%;
}

.finbar-horizontal div.thumb{
    background-color: black !important;
    height: 17px !important;
}

.finbar-vertical div.thumb{
    background-color: black !important;
    width: 17px !important;
}
