<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>iPushPull Docs Launcher</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="launcher.css?{cachebuster}">
  <script src="launcher.js?"></script>
  <script src="/vendor.bundle.js"></script>
</head>
<body>
  <template>
    <ipp-document>
      <description></description>
      <category></category>
      <domain></domain>
      <page></page>
    </ipp-document>
  </template>
  <div id="launchable">
    <div class="header">
      iPushPull (test) Pages
      <button id="refreshButton">&#x21BB;</button>
    </div>
    <div id="documents"></div>
  </div>
</body>
</html>

