<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>yellowFinLauncher</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="yellowFinLauncher.css?{cachebuster}">
    <script src="yellowFinLauncher.js?{cachebuster}"></script>
</head>
<body>
  <template>
    <report>
      <description></description>
      <category></category>
      <reportUUID></reportUUID>
    </report>
  </template>
  <div id="launchable">
    <div class="header">
      YellowFin Reports
      <button id="refreshButton">&#x21BB;</button>
      <button id="addButton">+</button>
    </div>
    <div id="reports"></div>
    <!-- <div class="header">Dashboards</div>
    <div id="dashboards"></div> -->
  </div>
</body>
</html>

