<html>
<head></head>
<body></body>

<script>

	// function quit() {
	// 	console.debug("quitting");
	// 	fin.desktop.Window.getCurrent().getOptions(function (opts) {
	// 		var signOnData = opts.customData.spawnData
	// 		var signOnKey = signOnData.signOnKey;
	// 		var error = "user prematurely exited from sign-on dialog";
	// 		var signOnData = { signOnKey , error };
	// debugger;
	// FSBL.Clients.Authentication.publishAuthorization();
	// debugger;
	// fin.desktop.Window.getCurrent().close(true); // done so close window
	// 	});
	// }

	// function processSignOnInput() {
	// 	//var signOnKey = FSBL.Clients.WindowClient.getSpawnData();
	// 	fin.desktop.Window.getCurrent().getOptions(function (opts) {
	// 		// var signOnData = opts.customData.spawnData
	// 		// var signOnKey = signOnData.signOnKey;

	// 		// var username = document.getElementById("username").value;
	// 		// var password = document.getElementById("password").value;

	// 		// if (username.lenght === 0 || password.length === 0) {
	// 		// 	$("#signonUserMsg").text("enter both username and password");
	// 		// } else {
	// 			debugger;
	// 			var signOnData = { signOnKey:"Symphony", username:"ad.chartiq.com\\mark", password:"Secure123$$" };
	// 			console.log("Mark signOnData", signOnData);
	// 			FSBL.Clients.AuthenticationClient.transmitSignOnToAuthService(signOnData); // send back signon input to authentication service
	// 			fin.desktop.Window.getCurrent().close(true); // done so close window
	// 		// }
	// 	});
	// }

	// function setupSignOn() {
	// 	fin.desktop.Window.getCurrent().getOptions(function (opts) {
	// 		var signOnParams = opts.customData.spawnData.params;
	// 		console.log("signOnParams", signOnParams);
	// 		if (signOnParams.prompt) {
	// 			$("#signonPrompt").text(signOnParams.prompt);
	// 		}
	// 		if (signOnParams.icon) {
	// 			$("#signonIcon").attr("src", signOnParams.icon)
	// 		}
	// 		if (signOnParams.userMsg) {
	// 			$("#signonUserMsg").text(signOnParams.userMsg);
	// 		}
	// 	});
	// }

	// function handleKeydown(e) {
	// 	console.log("key down occured");
	// 	if (e.code === 'Enter' && e.shiftKey === false) {
	// 		// processSignOnInput();
	// 	}

	// 	if (e.code === 'Escape') {
	// 		// quit();
	// 	}
	// }

	// FSBL.addEventListener('onReady', function () {
	// 	setupSignOn();
	// 	document.body.addEventListener('keydown', handleKeydown);
	// });


</script>

</html>