body {
	font-family: Open Sans Condensed, sans-serif;
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin: 0px;
	background: #18252e;
	color: #ffffff;
}

customer {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #4a6877;
	box-sizing: border-box;
}

customer > * {
	display: inline-block;
	padding: 10px 10px 5px 10px;
	cursor: pointer;
	width: 50%;
	text-align: center;
	border-bottom: 5px solid transparent;
	transition: border 0.5s;
}

customer:hover > * {
	border-bottom: 5px solid #0ccd87 !important;
}

customer.selected {
	font-weight: bold;
	background-color: #068de6;
}

.functionBtn {
	display:inline-block;
	bottom: 25px;
	text-align: center;
	background-color: #eee;
	cursor: pointer;
	width: 300px;
	height: 34px;
	margin: 20px;
	padding: 10px;
	background-color: #068de6;
	color: #ffffff;
	font-family: Open Sans Condensed, sans-serif;
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	transition: background-color 0.4s ease-out;
	box-sizing: border-box;
	
}
.functionBtn:hover {
	background-color: #2cabff;
}

#symbolLabel {
	margin: 20px;
}

#inputSection1{
	height:5%
}

/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 5px 6px;
	transition: 0.3s;
	font-size: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	height:60%;
	overflow: scroll;
}

#displayMsg{
	width:100%;
	height:30%;
	position: absolute;
    bottom: 0;
}

.instruct{
	display: inline-block;
}

section {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

section > field {
	width:30%;
}

section > owed, section > draganddropSymbol,routerSymbol,dsSymbol,linkerSymbol, routerSymbolListenTran, routerSymbolPubSub, dsField1, dsField2{
	display: inline-block;
	padding: 0 10px;
	border-bottom: solid gray 1px;
	margin: 0 10px;
	width: 70%;
}

#inputSection2{
	height:23%;
}

#functionBtns {
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	height:45%;
	overflow: scroll;
}