<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>uriSchemesTest</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="uriSchemesTest.css">
   <script src="../../vendor.bundle.js"></script>
   <script src="uriSchemesTest.js"></script>
</head>
<body>
<h1>URI Schemes - Test Component</h1>
Each of these links tests a different URI scheme. (<i>http</i>:, <i>mailto:</i>, etc.)

<ul>
  <li><a href="http://www.google.com">HTTP</a></li>
  <li><a href="http://www.google.com" target="_blank">HTTP (New Window)</a></li>
  <li><a href="https://www.google.com">HTTPS</a></li>
  <li><a href="https://www.google.com" target="_blank">HTTPS (New Window)</a></li>
  <li><a href="mailto:fake_email@chartiq.com">MAILTO</a></li>
</ul>

</body>
</html>
