:root {
  /* change images */
  /* Theme Variables:  Use these variables to make broad-sweeping changes to the colors and fonts. */

  /* Font Settings */
  --font-family: 'Roboto', sans-serif;
  --primary-font-color: white;
  --secondary-font-color: black;
  --primary-font-weight: 300;
  --secondary-font-weight: 500;
  --tertiary-font-weight: bold;

  /* Color Theme */


  --caplin-blue: #2B92B6;

  --primary:white;
  --primary-light: rgb(82, 188, 226);
  --primary-shade:rgb(20, 96, 124);
  --contrast: #47cc66;
  --secondary:var(--caplin-blue);

  /* === highlight / hover colors === */

  /* background colors */
  --hover-color-light:var(--primary);
  --hover-color-dark:var(--secondary);
  /* text color */
  --hover-text-light: var(--primary);
  --hover-text-dark:  var(--secondary);

  --primary-theme-color:var(--primary);
  --secondary-theme-color:var(--secondary);

  --primary-accent-color: var(--primary-theme-color);
  --secondary-accent-color: var(--primary-shade);
  --tertiary-accent-color: var(--contrast);

  --primary-negative-color: var(--red5);
  --secondary-negative-color: var(--red1);
  --tertiary-negative-color: var(--red7);

  --primary-background-color: var(--secondary);
  --secondary-background-color: var(--secondary);
  --tertiary-background-color: var(--primary-shade);

  --scrollbar-color: var(--gray);

/* Toolbar */
  --toolbar-font-color: var(--primary);
  --toolbar-brand-logo-width: auto;
  --toolbar-brand-logo-height: auto;
  --toolbar-button-hover-color-light:var(--hover-color-light);
  --toolbar-resize-area-color:var(--primary-light);

  /* App Menu */
  --menu-hover:var(--primary-light);
  --appMenu-leftNav-highlighter-hover: var(--hover-color-light);
  --appMenu-leftNav-highlighter: var(--hover-color-light);
  --appMenu-background-color: var(--secondary-theme-color);
  --appMenu-app-item-hover-background-color: var(--hover-color-light);
  --appMenu-edit-icon-hover-color-light: var(--contrast);

  /* Menus */
  --menu-actions-background-color: var(--primary-shade);
  --menu-actions-hover-color-light: var(--hover-color-light);
  --menu-content-hover-color-light: var(--hover-color-dark);
  --menu-content-hover-color:var(--menu-hover);
  --menu-actions-hover-color:var(--menu-hover);

  /* this is the border around all finsemble components - set alpha to remove it */
  --window-frame-inactive-color:rgba(255, 255, 255, 0)
}

/* Manual overrides */

.finsemble-toolbar-drag-handle  g {
    fill:var(--primary-theme-color);
}
.menu{
  background-color: var(--secondary-theme-color);
}
.finsemble-toolbar-button {
  /* keep your logo positioned in the middle */
  align-items: center;
  padding: 0 6px;
}
.finsemble-toolbar-button[data-hover=true] {
color: var(--primary-theme-color);
/* you may need to change the filter if you pick a dark background color */
filter: brightness(120%);
}

/* welcome component */
.button {
  background-color: var(--primary-theme-color);
  color:var(--secondary-theme-color)
}
.button:hover {
  background-color: var(--primary-theme-color);
  filter: brightness(120%);
}