<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>yellowfin</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="yellowfin.css?{cachebuster}">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="yellowfin.js?{cachebuster}"></script>
  <script src="/vendor.bundle.js"></script>
</head>
<body>
  
</body>
</html>

