<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sender</title>
    <script src="sender.js"></script>
</head>
<body>
<div>
    <h1>Sender</h1>
    I send data to the receiver using all the available methods
		<select id="senderValue">
			<option value="">Blank no value - no redirect - same domain</option>
			<option value="welcome">Welcome component url - same domain</option>
			<option value="google">Google - x-domain</option>
			<option value="bing">Bing - x-domain</option>
		</select>
    <button id="shared-data">Open Shared Data And Send Value</button>
</div>


</body>
</html>
