<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>crmExample</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="crmExample.css">
   <script src="../../vendor.bundle.js"></script>
   <script src="crmExample.js"></script>
</head>
<body>
<h1>crmExample</h1>
<button id="call-button">Click to make a call</button>
<br>
<br>
<div>Clicking the button will ensure a specified component (currently the Welcome Component) is open and then has the ability perform an action after this has happened</div>


<br>
<br>
<div>Listening for a call being broad cast:</div>
<div style="border: 1px solid black; min-height: 20px" id="call-details">
	No call
</div>

</body>
</html>

