<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Finsemble </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="renderer.css">
	<style>
		html {
			background: black;
		}
		h1 {
			color: white;
		}

		#board {
			background-color: white;
			overflow: hidden;
			box-sizing: content-box;
			position: relative;
			width: 100%;
			height: 100%;
			border: 1px solid black;
		}
		.game-object {
			box-sizing: content-box;
		}

	</style>
</head>
<body>
<div id="board">

</div>
<script src="renderer.js"></script>
</body>
</html>

